* {
  font-family: 'Roboto', sans-serif;
}
.body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #000000;
}
.main {
  &.front-page {
    position: relative;
    &:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #000000;
      opacity: 0;
      z-index: 1;
      transition: 3s opacity;
    }
  }
  &.front-page.overlay_white {
      &:before {
        transition: 3s opacity;
        opacity: 1;
      }
  }
}
.container {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: calc(100% - 40px);
  @media screen and (min-width: $screen-xl) {
    width: calc(100% - 200px);
    max-width: 1280px;
  }
}
.section_front-page-intro {
  padding-top: 140px;
  @media screen and (min-width: $screen-xl) {
    padding-top: 250px;
  }
}
.section_front-page-about-us {
  margin-top: 60px;
  @media screen and (min-width: $screen-xl) {
    margin-top: unset;
  }
}
.section_archive-posts-list {
  padding: 175px 0 50px;
  @media screen and (min-width: $screen-xl) {
    padding: 300px 0 50px;
  }
}
.section_front-page-what-we-do {
  @media screen and (min-width: $screen-xl) {
    padding-top: 150px;
  }
}
.section_thumbnail {
  margin-top: 60px;
  position: relative;
  height: 520px;
  width: 100%;
}
.section_single-content {
  padding: 60px 0 50px;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-pagination {
  position: initial;
  margin-bottom: 30px;
  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    margin-right: 10px;
    opacity: 1;
    background: rgba(255, 255, 255, 0.4);
    &:last-child {
      margin-right: unset;
    }
  }
  .swiper-pagination-bullet-active {
    background: #ffffff;
  }
}
.swiper-image {
  width: calc(100% - 40px);
  object-fit: contain;
}