.archive-posts-list {
  .main-post {
    position: relative;
    width: 100%;
    margin-bottom: 90px;
  }
  .title {
    font-style: normal;
    font-weight: normal;
    font-size: 63px;
    line-height: 74px;
    text-align: center;
    color: #FFFFFF;
    max-width: 220px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -45px;
    margin: 0;
    padding: 0;
    z-index: 1;
  }
  .thumbnail-wrapper {
    position: relative;
    width: 100%;
    height: 490px;
    margin-bottom: 20px;
  }
  .main-post__thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .button-wrapper {
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    width: 92px;
    height: 92px;
  }
  .button__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    animation: rotation 10s infinite linear;
  }
  .button__triangle {
    position: absolute;
    z-index: 1;
    width: 23px;
    height: 23px;
    object-fit: contain;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }
  .main-post__title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #D3D3D3;
    margin: 0 0 10px;
    padding: 0;
  }
  .main-post__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #D3D3D3;
    margin: 0;
    padding: 0;
  }
  .post {
    display: block;
    margin-bottom: 90px;
  }
  .post__thumbnail {
    width: 100%;
    height: 188px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  .post__title {
    display: block;
    text-decoration: none;
    margin: 0 0 10px;
    padding: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #D3D3D3;
  }
  .post__subtitle {
    display: block;
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #D3D3D3;
  }
  .arrow-to-top {
    display: block;
    width: 90px;
    height: 90px;
    object-fit: contain;
    margin: 0 auto;
  }
  @media screen and (min-width: $screen-xl) {
    .main-post {
      margin-bottom: 100px;
    }
    .title {
      top: -90px;
      font-size: 144px;
      line-height: 169px;
      max-width: 502px;
    }
    .thumbnail-wrapper {
      position: relative;
      width: 100%;
      height: 750px;
      margin-bottom: 30px;
    }
    .button-wrapper {
      bottom: 80px;
      width: 180px;
      height: 180px;
      cursor: pointer;
    }
    .button__triangle {
      width: 50px;
      height: 50px;
    }
    .main-post__subtitle {
      font-size: 24px;
      line-height: 28px;
    }
    > .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      //.post:nth-child(3n) {
      //  display: flex;
      //  flex-direction: column;
      //  align-items: flex-end;
      //  justify-content: flex-end;
      //  flex-basis: 100%;
      //  max-width: 100%;
      //  >.post__thumbnail {
      //    height: 670px;
      //    width: 70%;
      //    max-width: 1287px;
      //  }
      //  >.post__title {
      //    width: 70%;
      //    max-width: 1287px;
      //  }
      //  >.post__subtitle {
      //    width: 70%;
      //    max-width: 1287px;
      //  }
      //}
    }
    .post {
      flex-basis: 49%;
      max-width: 570px;
      margin-bottom: 100px;
    }
    .post__thumbnail {
      width: 100%;
      height: 361px;
      object-fit: cover;
      margin-bottom: 30px;
    }
    .post__title {
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 42px;
      color: #FFFFFF;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    .post__subtitle {
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 28px;
      color: #D3D3D3;
    }
    .arrow-to-top {
      width: 101px;
      height: 101px;
      cursor: pointer;
    }
    .main-post__title {
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 42px;
      color: #FFFFFF;
      margin-bottom: 20px;
    }
    .main-post__subtitle {
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 28px;
      color: #D3D3D3;
    }
  }
}
